@import '../../assets/scss/variables' ;

.app-modal {
  width: 302px;
  padding: 59px;
  background: #d7cfcf;
  position: absolute;
  z-index: 10;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  &__header {
    font-size: 25px;
    color: #efefef;
    padding-bottom: 18px;
  }

  &__content {

  }

  &__footer {

  }
}

