@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');


// Colors
$color-white: #fff;
$color-title: #0B132A;
$color-text: #4F5665;
$color-logo: #0B132A;
$color-link:  #4F5665;
$color-copy: #AFB5C0;
$primary: #F53838;
$success: #2FAB73;

// Fonts
$font-global: 'Rubik', sans-serif;

// FontSize
$font-size-base: 16px;
$font-size-subtitle: 35px;
$font-size-button: 16px;
$font-size-logo: 20px;
$font-size-link: 16px;
$font-size-title: 50px;
$font-size-small: 14px;
$font-size-small-subtitle: 18px;
$font-size-big-text: 20px;

// Variables
$border-radius-primary: 10px;
$border-radius-border: 50px;
$borderBtn-header: 1px solid #F53855;
$borderBtn-main: 2px solid #F53855;
$border-price: 2px solid #DDDDDD;
$background-button: #F53855;
$background-footer: #F8F8F8;
$border-line: 2px solid red;



