@import '../../assets/scss/variables';

.slideTemplate {
  padding: 30px;
  border: $border-price;
  width: 400px;
  min-height: 226px;

  &__wrap {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    width: 200px;
  }

  &__box {
    text-align: initial;
  }

  &__subtitle {
    font-size: $font-size-small-subtitle;
    color: $color-title;
  }
}