@import '../../assets/scss/variables';

.mainTemplate {
  width: 555px;
  padding-top: 80px;

  &__wrap {
    padding: 65px 0 75px;
  }

  &__container {
    display: flex;
    justify-content: space-around;
    width: 1140px;
    padding: 65px 0 75px;
  }

  &__box {
    display: flex;
  }

  &__subtitle {
      font-size: $font-size-small-subtitle;
      color: $color-title;
      padding-bottom: 5px;

  }

  &__card {
    padding-left: 36px;
  }

  &__text {
    font-size: $font-size-big-text;
    color: $color-text;
  }

}


